[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"

[dev-packages]
black = "*"
"flake8" = "*"

[requires]
python_version = "3.6"

[scripts]
init = "git config core.hooksPath .hooks"
start = "python src/server.py"
format = "pre-commit run --all-files"

[pipenv]
allow_prereleases = true
