[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"

[dev-packages]
black = "*"
"flake8" = "*"

[requires]
python_version = "3.6"

[scripts]
init = "git config core.hooksPath .hooks"
format = "black . --line-length=100"
lint = "flake8 . --max-line-length=100"
start = "python src/server.py"

[pipenv]
allow_prereleases = true
