[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flask = "*"
requests = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python src/server.py"
format = "pre-commit run --all-files"

[pipenv]
allow_prereleases = true
