$color-background-header: #E8EBF7;
$color-background: #FFFFFF;
$color-background-footer: #303030;
$color-error: #EE3232;
$color-main: #C5CDED;
$color-main-light: #DBE0F4;
$color-strava: #FC4C02;
$color-strava-dark: #DD4302;
$color-text: #1D1D1D;
$color-text-faded: #838383;
$color-text-faded-dark: #5B5B5B;
$color-text-underline: #CACACA;
$color-white: #EFEFEF;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-small: 70%;
$font-size-normal: 19px;
$font-weight-normal: 400;
$font-weight-semibold: 700;
$font-weight-bold: 900;
$line-height: 1.7;
$line-height-small: 1.4;
$spacing-abs-small: 20px;
$spacing-abs-large: 40px;
$spacing-icon: 6px;
$spacing-rel-small: 3vw;
$spacing-rel-large: 6vw;
$transition: 0.15s;
